.results-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .clear-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  